html, body {
    background-color: black;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 2px solid white;
    margin-bottom: 12px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}